<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Order</title>
</head>
<body>
    <form method="post" action="/order/<%=prodid%>">

        <label for="address"  class="lab">address</label>
        <input id="address" type="text" class="in"  placeholder="address" name="address" required class="textBox">
       
  
        <label for="phone number"  class="lab">phone number</label>
        <input type="text"  id="phone number" class="in" placeholder="phone number" name="phone_number" required class="textBox">
       
    

        <label for="visa_number"  class="lab">visa_number</label>
        <input type="text" id="visa_number" class="in" placeholder="visa_number" name="visa_number" required class="textBox">
       
        <label for="password"  class="lab">password</label>
        <input type="password" id="password" class="in" placeholder="password" name="password" required class="textBox">

        
       <input type="hidden" name="status" value="wait" > 

        <button class="btn-modal"  id="btn-sub" type="submit">Done</button>

    </form>
    
</body>
</html>