<form class="form-inline"  action="/search">
    <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" href="#" type="submit">Search</button>
  </form>
  <ul>
    <% item.forEach(product => { %>
        <li><%= product.title %><dev class="devproduct"></dev><%= product.price %></li>
    <% }); %>
</ul>