<!DOCTYPE html>
<html>
<head>
    <title>Sign In</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        #signin-form {
            background-color: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            width: 400px;
            text-align: center;
            margin-bottom: auto;
            margin-top: 40px;
           
        }

        h1 {
            text-align: start;
            margin-bottom: 20px;
            margin-top: 0;
        }

        label {
            font-weight: bold;
            display: block;
            margin-bottom: 8px;
        }

        input {
            width: 100%;
            padding: 8px;
            margin-bottom: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        button {
            width: 100%;
            padding: 10px;
            background-color: #007bff;
            border: none;
            border-radius: 4px;
            color: white;
            cursor: pointer;
        }

        button:hover {
            background-color: #0056b3;
        }

        #message {
            text-align: center;
            margin-top: 10px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <form id="signin-form" action="/signin" method="POST">
        <h1>Sign In</h1>
        <label for="email">Email:</label>
        <input type="email" id="signinEmail" required><br>
        <p id="emailErrorMessage"></p>
        <label for="password">Password:</label>
        <input type="password" id="signinPassword" required><br>
        <p id="passwordErrorMessage"></p>
        <button type="submit">Sign In</button>
    </form>
    <p id="message"></p>

    <script>
        const signinHandler = async (e) => {
            e.preventDefault();
            const emailInput = document.getElementById('signinEmail');
            const passwordInput = document.getElementById('signinPassword');
            const email = emailInput.value;
            const password = passwordInput.value;
            const response = await fetch('/signin', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ email, password }),
            });
            const emailErrorMessage = document.getElementById('emailErrorMessage');
            const passwordErrorMessage = document.getElementById('passwordErrorMessage');

            if (response.ok) {
                window.location.href = '/'; // Redirect on successful sign-in
            } else {
                const data = await response.json(); // Extract the response body
                if (data.message) {
                    // Display the error message in the respective error element
                    emailErrorMessage.textContent = data.message;
                    passwordErrorMessage.textContent = data.message;
                }
            }
        };

        document.getElementById("signin-form").addEventListener("submit", signinHandler);
    </script>
</body>
</html>
