<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <form onsubmit=""  id="signup" action="/signupform" method="post" >
              
        <label for="fullname"  class="lab">Full Name</label><br>
        <input type="text" name="fullname" id="fullname" class="in" placeholder="Full Name" required class="textBox"><br>
        
    
   
        <label for="mail"  class="lab">Email Address</label>
        <input id="mail" type="email" class="in"  placeholder="Email" name="mail" required class="textBox">
        <label for="mail" id="errormail" ></label>
          <div id="result"></div>

  
        <label for="password"  class="lab">Password</label>
        <input type="password"  id="password" class="in" placeholder="Password" name="password" required class="textBox">
        <label id="errorpassword"></label>
    
           

        <label for="cpassword"  class="lab">confirm Password</label>
        <input type="password" id="cpassword" class="in" placeholder="confirmPassword" name="cpassword" required class="textBox">
        <p id="pwcErr"></p>
    

                            
    
        <label for="dat"  class="lab">Age</label>
        <input id="dat" name="Age" type="date" class="in"  value="dob" required class="textBox">
        <label id="errordate"></label>
    

    

          <div>
          <legend>Choose your gender:</legend><br>
            <div>
          <label for="male">Male</label>
            <input type="radio" name="gender" id="male" value="male">
          </div>
          <div>
            <label for="female">Female</label>
            <input type="radio" name="gender" id="female" value="female">
          </div>
      </div>


       <input type="hidden" name="Type" value="user" > 

        <button class="btn-modal"  id="btn-sub" type="submit">Submit</button>
      


    <!-- <button class="btn-modal" id="btn-sub" type="submit">Submit</button> -->

    
</form> 
</body>
</html>